.education-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ebeeee;
}

.education-item{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cacaca;
}

.education-item:last-child{
  border-bottom: none;
}

.education-item-left{
  width: 20rem;
}

.education-item-left a:hover{
  text-decoration: underline;
}

.education-item-right{
  flex: 1;
}

.school-program{
  color: #737373;
}
