.employment-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ebeeee;
}

.employment-education-item {
  margin-bottom: 2rem;
}

.employment-container section {
  border-bottom: 1px solid #cacaca;
}
.employment-education-item header {
  display: flex;
  flex-direction: row;
}

.employment-education-item header a:hover {
  text-decoration: underline;
}

.employment-education-role {
  color: #737373;
}

.employment-education-date {
  margin-left: auto;
  font-weight: bold;
}

@media (max-width: 600px) {
  .employment-education-date {
    width:40vw;
    text-align: right;
  }
}

.bullets-container{
  width: 80%;
}

.bullets-container li{
  line-height: 1.5rem;
}